div, li{border:0px solid red;}

.top{
	width:100%;
	height:796px;
	overflow:hidden;
	position: relative;


	background: url(../img/Layer.png) no-repeat center;

	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src="F:\Wise\res\img\Layer.png")\9;
	background-size:cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;


}

.top .shadow{
	height: 796px;

	background:url(../img/Shape.png) no-repeat left;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=Enabled, sizingMethod=scale , src="F:\Wise\res\img\Shape.png")\9;
	background-size: 70% 100%;
    -webkit-background-size: 70% 100%;
    -o-background-size: 70% 100%;
    -ms-background-size: 70% 100%;
    -moz-background-size: 70% 100%;

}

.top ul{
	width:90%;
	left:0px;
	right:0px;
	margin:auto;
	position: absolute;
	top:76px;
}

.top ul li{
	width:49%;
	float;left;
	display:inline-block;
	vertical-align: top;
}

.top .left{
	//width:100%;
	height:720px;
	margin-left:5%;
}

.top dl{float: right;}
.top dt{
	float:left;
	margin-left:60px;
	color:#fff;
	font-size:16px;
	padding-bottom: 5px;
	cursor: pointer;

	transition: all 1.2s;
	-moz-transition: all 1.2s; /* Firefox 4 */ 
	-webkit-transition: all 1.2s; /* Safari 和 Chrome */ 
	-o-transition: all 1.2s; /* Opera */
}
.top .active{
	border-bottom:2px solid #fff;
	color: orange;
}

.top dt:hover{
	color: orange;
}


.top .logo{
	width:154px;
	height:32px;
	background:url(../img/logo.png) no-repeat;
	margin-top:-13px;
}

.top .hello{
	width: 497px;
	height: 30px;
	background:url(../img/hello.png) no-repeat;
	margin-top: 130px;
}

.top p{
	width: 60%;
	font-size:14px;
	color:#bcbcbc;
	margin: 40px 0px; 
	line-height: 20px;
}

.top .first-p{
	margin:60px 0px;
}

.top em{color:orange;}

.top .btn{
	width: 209px;
	height: 40px;
	border:1px solid orange;
	background:#1a1a1a;
	color:#bcbcbc;
	line-height:40px;
	text-align:center;
	font-size: 14px;
	margin-top:70px;
	cursor: pointer;
}

.top .side-arrow{
	width: 96px;
	height: 49px
	overflow:hidden;
	margin-top:59px;
}

.top .side-arrow i{
	display: inline-block;
	width:48px;
	height: 49px;
	float: left;
	cursor: pointer;
}

.top .side-arrow i:nth-child(1){
	background:url(../img/top-black-btn.png) no-repeat;
}

.top .side-arrow i:nth-child(2){
	background:url(../img/top-orange-btn.png) no-repeat;
}

.heading{
	width:100%;
	height:241px;
	background:#ecf0f1;
	text-align: center;
}

.heading .title{
	display: inline-block;
	width: 100%;
	height: 25px;
	background:url(../img/heading-title.png) no-repeat center;
	margin-top: 44px;
}

.heading .icon{
	display: inline-block;
	width: 100%;
	height: 52px;
	background:url(../img/heading-hr.png) no-repeat center;
	margin-top:14px;
}

.heading .tips{
	width: 42%;
	text-align: center;
	margin: 0 auto;
	font-size: 15px;
	line-height: 20px;
}

.box-tab{
	width: 100%;
	height: 700px;
	border-collapse:collapse;
}

.box-tab td{
	width: 50%;
	height:350px;
	background:#f39c12;
	table-layout: fixed;
	overflow: hidden;

	transition: all 1.2s;
	-moz-transition: all 1.2s; /* Firefox 4 */ 
	-webkit-transition: all 1.2s; /* Safari 和 Chrome */ 
	-o-transition: all 1.2s; /* Opera */
}

.box-tab td:hover{
	background:#ffbf59;
}

.box-tab .space{
	border-right:1px solid #fff;
}

.box-tab .second{
	border-top: 1px solid #fff;
}

.box-tab td div{
	width:65%;
	height:100%;

}

.box-tab .space div{
	float:right;
	padding: 0px 48px 0px 0px;
}

.box-tab .no-space div{
	float:left;
	padding: 0px 0px 0px 48px;
}

.box-tab .light-bulb{
	display: inline-block;
	width: 120px;
	height: 120px;
	background:url(../img/light-bulb.png) no-repeat center;
}

.box-tab .pencil{
	display: inline-block;
	width: 120px;
	height: 120px;
	background:url(../img/pencil.png) no-repeat center;
}

.box-tab .code{
	display: inline-block;
	width: 120px;
	height: 120px;
	background:url(../img/code.png) no-repeat center;
}

.box-tab .thumbs-up{
	display: inline-block;
	width: 120px;
	height: 120px;
	background:url(../img/thumbs-up.png) no-repeat center;
}





.box-tab div i{
	margin-left: 40px;
}

.box-tab div span{
	font-size:18px;
	color:#fff;
	vertical-align:top;
}

.box-tab ul{
	margin-top:54px;
}

.box-tab p{
	font-size: 14px;
	color: #fff;
	line-height:21px;
}





